<shared-header></shared-header>

<main class="w-full flex bg-primary gap-10">
  <section
    class="relative flex-1 hidden items-center justify-center h-[90vh] lg:flex"
  >
    <div
      class="w-full max-w-md space-y-8 p-8 bg-secondary bg-opacity-60 rounded-2xl text-white"
    >

    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />

    <h3>Lorem ipsum dolor sit amet.</h3>

    <!-- <pre>{{ user$ | async | json}}</pre> -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dolores aliquid reprehenderit.</p>

    </div>
  </section>


  <section class="flex-1 flex items-center justify-center h-[90vh]">
    <div
      class="w-full max-w-md space-y-6 p-8 bg-secondary bg-opacity-60 rounded-2xl text-white "
    >

      <router-outlet></router-outlet>

    </div>
  </section>
</main>


<shared-footer></shared-footer>
