<shared-header></shared-header>

<div class="p-3 h-screen bg-[#34495E] text-white-eclessia">

  <div class="flex h-full">

    <section class="bg-primary rounded-3xl m-10 p-8">

      <figure>
        <img src="" alt="">
      </figure>

      <div>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, non? Fuga non tenetur cupiditate reiciendis?</p>
      </div>
    </section>


    <section class="bg-primary rounded-3xl m-10 p-8">

      <router-outlet></router-outlet>

    </section>

  </div>

</div>

<shared-footer></shared-footer>

