
<header>
  <!-- Hero Container -->
  <div class="mx-auto max-w-7xl px-10 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="mx-auto mb-8 w-full text-center items-center md:mb-12 lg:mb-16">
      <!-- Hero Title -->
      <div class="flex text-center items-center justify-center my-3">
        <h1 class="mb-4 text-4xl font-bold md:text-6xl">Somos </h1>
        <img srcset="../../../../assets/img/logo/EclessiaAB.png" class="mx-5 w-32 sm:h-9 xl:h-auto xl:w-72" alt="Eclessia Logo" />
      </div>
      <p class="mx-auto mb-5 max-w-3  xl text-sm text-opacity-70 sm:text-xl md:mb-6 lg:mb-8">Nuestra misión es simplificar y optimizar tu experiencia con los procesos eclesiales. Nos esforzamos por innovar y dar un giro a la manera en que te conectas con tu fe. Nuestra plataforma no solo busca facilitar tu vida como feligrés, sino también apoya a la Diócesis de Loja, siendo un aliado para optimizar y agilizar sus operaciones. </p>
      <!-- Hero Button -->
      <!-- <div class="flex items-stretch justify-center">
        <a href="#" class="mr-5 inline-block rounded-md bg-primary px-8 py-4 text-center font-semibold text-white-eclessia md:mr-6 lg:mr-8">Get Started</a>
        <a href="#" class="flex items-center justify-center rounded-md border border-solid bg-secondary px-6 py-3 font-bold text-white-eclessia">
          <p class="text-sm text-white-eclessia sm:text-base">Watch Demo</p>
        </a>
      </div> -->
    </div>
  </div>
</header>


<!-- Testimonio -->
<section class="bg-secondary py-16">

  <figure class="max-w-screen-md mx-auto text-center">
    <svg class="w-10 h-10 mx-auto mb-3 text-gray-400 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
        <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
    </svg>
    <blockquote>
        <p class="text-2xl italic font-medium text-gray-900 dark:text-white">"En Eclessia, simplificamos tu conexión con la fe, lo espiritual y lo digital son tu mejor herramienta para evangelizar."</p>
    </blockquote>
    <figcaption class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse">
        <img class="w-6 h-6 rounded-full" srcset="https://firebasestorage.googleapis.com/v0/b/eclessia-15f44.appspot.com/o/Imagenes%2FPerfil%2FPerfiCarlos.jpg?alt=media&token=84be0335-809e-4b25-83c1-12bc997324f2" alt="profile picture">
        <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700">
            <cite class="pe-3 font-medium text-gray-900 dark:text-white">Carlos Castillo</cite>
            <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400">CEO de Eclessia</cite>
        </div>
    </figcaption>
  </figure>

</section>

<!-- Team Component -->
<landing-component-team>



