<section class="text-gray-600 body-font">
  <div class="container px-5 pt-14 min-h-[90vh] mx-auto flex flex-wrap flex-col">

  <shared-steps class="flex" [valor]="whatStep"></shared-steps>

      <section>

        <div class="bg-white pt-4 sm:pt-6 lg:pt-8 my-8 rounded-lg">
          <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <!-- STEP 1 Seleccionar Templo -->
            @if (whatStep === 1) {

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Templos</h2>
                <p class="text-lg pb-5">Selecccione la parroquia</p>
              </div>

              <div class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:grid-cols-6 xl:grid-cols-8">

                @for (parroquia of parroquias; track parroquia.id) {
                  <!-- product - start -->
                  <div>
                    <a class="group relative mb-2 block h-40 overflow-hidden rounded-lg bg-gray-100 lg:mb-3 " (click)="seleccionarParroquia(parroquia)">
                      <img [srcset]="parroquia.imgParroquia" loading="lazy" alt="Photo by Rachit Tank" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" [ngClass]="{'opacity-50': parroquiaSeleccionada === parroquia.id}"/>
                      @if (parroquiaSeleccionada === parroquia.id) {
                        <img srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/2048px-Yes_Check_Circle.svg.png" class="h-5 w-5 right-2 top-2 absolute object-cover object-center">
                      }
                    </a>
                    <div>
                      <h5 class="hover:gray-800 mb-1 text-gray-500 transition duration-100 lg:text-md">{{ parroquia.nombreParroquia }}</h5>
                    </div>
                  </div>
                  <!-- product - end -->
                }
              </div>

              <div class="w-full flex justify-end">
                <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                        (click)="setWhatStep(2)"
                        [disabled]="parroquiaSeleccionada === ''"
                        [ngClass]="{'opacity-60': parroquiaSeleccionada === ''}">
                  Siguiente
                </button>
              </div>


            }@else if (whatStep === 2) {

              <a class="cursor-pointer" (click)="setWhatStep(1)">
                <span class="material-symbols-rounded pr-2 my-4">arrow_back</span>
              </a>

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Fecha y Hora</h2>
                <p class="text-lg pb-5">Selecccione la fecha y hora</p>
              </div>

              <form autocomplete="off" [formGroup]="fechaHoraForm" (ngSubmit)="registrarHoraFecha()">
                <div>

                  <div class="sm:col-span-2 my-4">
                    <label for="fechaBautizo" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Seleccione la Fecha</label>
                    <input formControlName="fecha" name="fechaBautizo" type="date" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div class="sm:col-span-2 my-4">
                    <label for="horaBautizo" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Seleccione la hora</label>
                    <select formControlName="hora" id="horaBautizo" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
                      <option selected disabled>Seleccione</option>
                      <option value="08h00">08h00</option>
                      <option value="10h00">10h00</option>
                      <option value="16h00">16h00</option>
                      <option value="18h00">18h00</option>
                    </select>
                  </div>
                </div>

                <div class="w-full flex justify-end">
                  <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                          type="submit"
                          [disabled]="!fechaHoraForm.valid"
                          [ngClass]="{'opacity-60': !fechaHoraForm.valid}">
                    Siguiente
                  </button>
                </div>

              </form>

            }@else if (whatStep === 3){

              <a class="cursor-pointer" (click)="setWhatStep(2)">
                <span class="material-symbols-rounded pr-2 my-4">arrow_back</span>
              </a>

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Formulario de Bautismo</h2>
              </div>


              <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                <!-- form - start -->
                <form autocomplete="off" [formGroup]="datosBautizoForm" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2" (ngSubmit) = "registrarDatosBautizo()">
                  <div>
                    <label for="nombreMama" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Mamá</label>
                    <input id="nombreMama" formControlName="nombreMama" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="nombrePapa" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Papá</label>
                    <input id="nombrePapa" formControlName="nombrePapa" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="nombresBautizado" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombres Bautizado</label>
                    <input id="nombresBautizado" formControlName="nombresBautizado" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="apellidosBautizado" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Apellidos Bautizado</label>
                    <input id="apellidosBautizado" formControlName="apellidosBautizado" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="fechaNacimiento" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Fecha Nacimiento</label>
                    <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="edadBautizado" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Edad Bautizado</label>
                    <input id="edadBautizado" formControlName="edadBautizado" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>


                  <div>
                    <label for="nombrePadrino" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Padrino</label>
                    <input id="nombrePadrino" formControlName="nombrePadrino" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="nombreMadrina" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Madrina</label>
                    <input id="nombreMadrina" formControlName="nombreMadrina" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="celularReferencia" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Celular Referencia</label>
                    <input id="celularReferencia" formControlName="celularReferencia" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="correoReferencia" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Correo Referencia</label>
                    <input id="correoReferencia" formControlName="correoReferencia" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-primary ring-opacity-50 transition duration-100 focus:ring" />
                  </div>

                  <div class="w-full flex justify-end col-span-2">
                    <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                            type="submit"
                            [disabled]="!datosBautizoForm.valid"
                            [ngClass]="{'opacity-60': !datosBautizoForm.valid}">
                      Siguiente
                    </button>
                  </div>

                </form>

                <!-- form - end -->
              </div>

            }@else if (whatStep === 4) {

              <div class="mb-6 flex flex-col justify-between gap-4 items-center text-center">
                <div>
                  <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Reserva Completada</h2>
                  <p class="text-lg pb-5">Ha realizado la reserva con exito</p>
                </div>

                <figure class="object-cover w-40 h-40 rounded-full mx-auto my-5">
                  <img class="object-cover w-full h-full rounded-full" src="https://www.cecyteh.edu.mx/images/logos/check.gif" alt="Listo">
                </figure>

                <div>
                  <p class="py-4">Recuerda que para validar la Reserva de Bautismo debes acercarte a la parroquia y presentar los siguientes documentos:</p>
                  <ul class="list-disc">
                    <li class="text-left ml-8 py-1">Copia de cedula de los Padres de Familia</li>
                    <li class="text-left ml-8 py-1">Acta de Nacimiento del Bautizado</li>
                  </ul>
                </div>

                <div class="w-full flex justify-center py-4">
                  <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                    [routerLink]="['/inicio']"
                  >
                    Finalizar
                  </button>
                </div>

              </div>


            }

          </div>
        </div>
      </section>

  </div>
</section>
