<section class="text-gray-600 body-font">
  <div class="container px-5 pt-14 min-h-[90vh] mx-auto flex flex-wrap flex-col">

  <shared-steps class="flex" [valor]="whatStep"></shared-steps>

      <section>

        <div class="bg-white pt-4 sm:pt-6 lg:pt-8 my-8 rounded-lg">
          <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <!-- STEP 1 Seleccionar Templo -->
            @if (whatStep === 1) {

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Templos</h2>
                <p class="text-lg pb-5">Selecccione la parroquia</p>
              </div>

              <div class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:grid-cols-6 xl:grid-cols-8">

                @for (parroquia of parroquias; track parroquia.id) {
                  <!-- product - start -->
                  <div>
                    <a class="group relative mb-2 block h-40 overflow-hidden rounded-lg bg-gray-100 lg:mb-3 " (click)="seleccionarParroquia(parroquia)">
                      <img [srcset]="parroquia.imgParroquia" loading="lazy" alt="Photo by Rachit Tank" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" [ngClass]="{'opacity-50': parroquiaSeleccionada === parroquia.id}"/>
                      @if (parroquiaSeleccionada === parroquia.id) {
                        <img srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/2048px-Yes_Check_Circle.svg.png" class="h-5 w-5 right-2 top-2 absolute object-cover object-center">
                      }
                    </a>
                    <div>
                      <h5 class="hover:gray-800 mb-1 text-gray-500 transition duration-100 lg:text-md">{{ parroquia.nombreParroquia }}</h5>
                    </div>
                  </div>
                  <!-- product - end -->
                }
              </div>

              <div class="w-full flex justify-end">
                <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                        (click)="steps()"
                        [disabled]="parroquiaSeleccionada === ''"
                        [ngClass]="{'opacity-60': parroquiaSeleccionada === ''}">
                  Siguiente
                </button>
              </div>


            }@else if (whatStep === 2) {

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Fecha y Hora</h2>
                <p class="text-lg pb-5">Selecccione la fecha y hora</p>
              </div>

              <form autocomplete="off" [formGroup]="fechaHoraForm" (ngSubmit)="registrarHoraFecha()">
                <div>
                  <div class="sm:col-span-2">
                    <label for="fechaBautizo" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Fecha</label>
                    <input formControlName="fecha" name="fechaBautizo" type="date" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div class="sm:col-span-2">
                    <label for="horaBautizo" class="block mb-2 text-sm font-medium text-gray-900">Default select</label>
                    <select formControlName="hora" id="horaBautizo" class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                      <option selected>Choose a country</option>
                      <option value="US">United States</option>
                      <option value="CA">Canada</option>
                      <option value="FR">France</option>
                      <option value="DE">Germany</option>
                    </select>
                  </div>
                </div>

                <div class="w-full flex justify-end">
                  <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                          [disabled]="!fechaHoraForm.valid"
                          [ngClass]="{'opacity-60': !fechaHoraForm.valid}">
                    Siguiente
                  </button>
                </div>

              </form>

            }@else if (whatStep === 3){

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Formulario de Bautizmo</h2>
              </div>


              <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                <!-- form - start -->
                <form class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">
                  <div>
                    <label for="first-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Mamá</label>
                    <input name="first-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="last-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Papá</label>
                    <input name="last-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="company" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Bautizado</label>
                    <input name="company" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="company" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Fecha Nacimiento</label>
                    <input name="company" type="date" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Edad Bautizado</label>
                    <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Edad Bautizado</label>
                    <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Padrino</label>
                    <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nombre Madrina</label>
                    <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="subject" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Celular Referencia</label>
                    <input name="subject" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                  <div>
                    <label for="subject" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Correo Referencia</label>
                    <input name="subject" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                  </div>

                </form>

                <div class="w-full flex justify-end">
                  <button class="inline-flex text-white-eclessia bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded text-lg mb-4"
                          [disabled]="!fechaHoraForm.valid"
                          [ngClass]="{'opacity-60': !fechaHoraForm.valid}">
                    Siguiente
                  </button>
                </div>
                <!-- form - end -->
              </div>

            }@else if (whatStep === 4) {

              <div class="mb-6 flex flex-col justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Reserva Completada</h2>
                <p class="text-lg pb-5">Ha realizado la reserva con exito</p>
              </div>


            }

          </div>
        </div>
      </section>

  </div>
</section>
