

<div class="flex mx-auto flex-wrap mb-10">

  <a [ngClass]="{'border-primary': valor === 1, 'text-primary': valor === 1, 'bg-gray-100': valor === 1, 'rounded-t': valor === 1}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium  inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
    <span class="material-symbols-rounded pr-2">synagogue</span>
    Templo
  </a>
  <a [ngClass]="{'border-primary': valor === 2, 'text-primary': valor === 2, 'bg-gray-100': valor === 2, 'rounded-t': valor === 2}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
    <span class="material-symbols-rounded pr-2">date_range</span>
    Fecha y Hora
  </a>
  <a [ngClass]="{'border-primary': valor === 3, 'text-primary': valor === 3, 'bg-gray-100': valor === 3, 'rounded-t': valor === 3}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
    <span class="material-symbols-rounded pr-2">forms_add_on</span>
    Formulario
  </a>
  <a [ngClass]="{'border-primary': valor === 4, 'text-primary': valor === 4, 'bg-gray-100': valor === 4, 'rounded-t': valor === 4}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
    <span class="material-symbols-rounded pr-2">check</span>
    Completado
  </a>
</div>
