<div  class="gap-4" style="view-transition-name: auth;">

  <h3 class="text-xl font-bold text-center">Registrarse</h3>

  <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="registrar()">

    <div class="pt-1.5">
      <label for="name" class="mb-2 inline-block text-xs"
        >Nombres</label
      >
      <input
        id="name"
        type="text"
        class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
        placeholder="Nombre y Apellido"
        formControlName="nombre"
      />
    </div>

    <div class="pt-1.5">
      <label for="email" class="mb-2 inline-block text-xs"
        >Correo Electronico</label
      >
      <input
        id="email"
        type="email"
        class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
        placeholder="Email"
        formControlName="email"
      />
    </div>

    <div class="flex gap-3">
      <div class="pt-1.5">
        <label for="celular" class="mb-2 inline-block text-xs"
          >Celular</label
        >
        <input
          id="celular"
          type="text"
          class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
          placeholder="Numero de Celular"
          formControlName="telefono"
        />
      </div>
      <div class="pt-1.5">
        <label for="cedula" class="mb-2 inline-block text-xs"
          >Cedula</label
        >
        <input
          id="cedula"
          type="text"
          class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
          placeholder="Cedula"
          formControlName="cedula"
        />
      </div>

    </div>

    <div class="pt-1.5">
      <label for="password" class="mb-2 inline-block text-xs"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
    <div class="pt-1.5">
      <label for="rep-password" class="mb-2 inline-block text-xs"
        >Repetir Contraeña</label
      >
      <input
        id="rep-password"
        type="password"
        class="w-full rounded-md px-3 py-1 outline-none text-gray-800"
        placeholder="Repetir Contraseña"
        formControlName="password2"
      />
    </div>


    <div class="flex items-center pt-1.5">
      <input
        id="link-terms"
        type="checkbox"
        class="w-4 h-4 rounded-md text-secondary"
        formControlName="terminos"
      />
      <label for="link-terms" class="ms-2 text-xs font-medium"
        >He leido y Acepto los terminos y condiciones de Eclessia</label
      >
    </div>

    <div class="flex pt-4 text-center justify-center">
      <button
        class="justify-center py-1.5 px-14 bg-primary rounded-md p-4 hover:opacity-80"
        type="submit"
      >
        Registrarse
      </button>
    </div>
  </form>

  <div class="justify-center text-center opacity-75 pt-2">
    <a  [routerLink]="['/auth/login']" class="text-sm hover:underline"> ¿Ya tienes una cuenta? </a>
  </div>
</div>
