
<section class="h-3/4 flex self-center">

  <div class="flex self-center">

    <figure class="w-3/4">
      <img class="w-full " src="./../../../../assets/inicio-section1-izquierda.png" alt=""/>
    </figure>

    <div class="p-16 text-center">
      <h1 class="text-3xl font-bold py-4">Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nihil quo odio praesentium! Reiciendis, molestiae, incidunt quibusdam beatae vitae unde eveniet ea quod aut voluptatem provident obcaecati dolorem temporibus laudantium.</p>
    </div>

    <figure class="w-3/4">
      <img class="w-full" src="./../../../../assets/inicio-section1-derecha.png" alt=""/>
    </figure>
  </div>



</section>
