
<section class="h-[85vh] w-full flex bg-fondo-inicio bg-no-repeat bg-origin-padding bg-contain bg-center">

    <div class="p-16 flex w-full my-auto items-center text-center flex-col gap-4">
      <img srcset="../../../../assets/img/logo/EclessiaAB.png" class="mr-3 w-32 sm:h-9 xl:h-auto xl:w-72" alt="Flowbite Logo" />

      <p>El lugar donde encuentras tu comunidad, tu fe y tu propósito
        <b class="text-xl">
          <br> ¡Únete a nosotros y sé parte de algo más grande que tú!
        </b>
      </p>
    </div>

</section>

<landing-component-estadisticas></landing-component-estadisticas>

<landing-component-testimonios></landing-component-testimonios>

<landing-component-reserva-bautismo></landing-component-reserva-bautismo>

<landing-component-informacion-parroquia></landing-component-informacion-parroquia>

<landing-component-galeria></landing-component-galeria>

<landing-component-contactanos></landing-component-contactanos>
