
<section class="h-[85vh] flex self-center">

  <div class="flex self-center">

    <figure class="w-3/4">
      <img class="w-full " src="./../../../../assets/inicio-section1-izquierda.png" alt=""/>
    </figure>

    <div class="p-16 flex items-center text-center flex-col gap-4">
      <img src="../../../../assets/img/logo/EclessiaAB.png" class="mr-3 w-32 sm:h-9 xl:h-auto xl:w-72" alt="Flowbite Logo" />

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nihil quo odio praesentium! Reiciendis, molestiae, incidunt quibusdam beatae vitae unde eveniet ea quod aut voluptatem provident obcaecati dolorem temporibus laudantium.</p>
    </div>

    <figure class="w-3/4">
      <img class="w-full" src="./../../../../assets/inicio-section1-derecha.png" alt=""/>
    </figure>
  </div>
</section>

<landing-component-estadisticas></landing-component-estadisticas>

<landing-component-testimonios></landing-component-testimonios>

<landing-component-reserva-bautismo></landing-component-reserva-bautismo>

<landing-component-informacion-parroquia></landing-component-informacion-parroquia>

<landing-component-galeria></landing-component-galeria>

<landing-component-contactanos></landing-component-contactanos>
