
<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-10 lg:px-10">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="bg-primary text-white-eclessia flex items-center p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
          <h2 class="text-2xl font-bold  md:text-3xl">
            ¿Te atreves a descubrir lo que hay detrás?
          </h2>

          <p class="hidden text-white/90 sm:mt-4 sm:block">
            Adéntrate en Eclessia, un lugar fascinante que te invita a explorar nuevas experiencias. Descubre cómo reservar momentos especiales y conectarte con parroquias de manera única.
            ¿Qué secretos guarda este espacio?
            Únete a nosotros y descúbrelo por ti mismo.
          </p>

          <div class="mt-4 md:mt-8">
            <a
              href="#"
              class="inline-block rounded bg-yellow-eclessia px-12 py-3 text-sm font-medium text-white-eclessia transition hover:bg-opacity-80"
            >
              Ver Servicios
            </a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4  lg:grid-cols-2">
        <img
          alt="Servicios Portada 1"
          src="../../../../assets/img/servicios/portada1-s.jpg"
          class="h-40 w-full object-cover sm:h-56 md:h-full"
        />

        <img
          alt="Servicios Portada 2"
          src="../../../../assets/img/servicios/portada2-s.jpg"
          class="h-40 w-full object-cover sm:h-56 md:h-full"
        />
      </div>
    </div>
  </div>
</section>


<!-- Section CTA -->
<section class="bg-white-eclessia">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component-->
    <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
      <div>
        <h2 class="mb-4 max-w-2xl text-3xl font-bold md:text-5xl">Bautizmo</h2>
        <p class="mb-6 max-w-lg text-sm text-secondary sm:text-base lg:mb-12">Te ofrecemos una forma sencilla y emocionante de planificar el bautizo perfecto. Reserva la fecha, iglesia y hora que desees con solo unos clics. ¡Y eso no es todo! Obtén y descarga tu certificado de bautizo de manera digital, facilitándote el acceso a este importante documento.</p>
        <a [routerLink]="['/reservar-bautizmo']"  class="inline-block items-center bg-yellow-eclessia rounded px-6 py-3 text-center font-semibold text-white">Reservar</a>
      </div>
      <div>
        <img src="https://www.shutterstock.com/image-photo/closeup-shot-catholic-baptism-philippines-600nw-2314171987.jpg" alt="" class="mx-auto inline-block h-full w-full max-w-2xl rounded-md" />
      </div>
    </div>
  </div>
</section>

<!-- Section CTA -->
<section class="bg-secondary text-white-eclessia border-b border-white-eclessia border-opacity-10">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component-->
    <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
      <div>
        <img src="https://iglesias-catolicas.com/ec/wp-content/uploads/sites/4/2020/08/iglesia-san-francisco-loja.jpg" alt="" class="mx-auto inline-block h-full w-full max-w-2xl rounded-md" />
      </div>
      <div>
        <h2 class="mb-4 max-w-2xl text-3xl font-bold md:text-5xl">Localiza la Parroquia más Cercana</h2>
        <p class="mb-6 max-w-lg text-sm  sm:text-base lg:mb-12">Localiza de manera rápida y precisa las parroquias cercanas y planifica tu visita de una manera más conectada y conveniente. Eclessia te acerca a tus lugares espirituales de una manera totalmente nueva. ¡Vive la experiencia de la fe con facilidad!</p>
        <a href="#" class="inline-block items-center bg-primary text-white-eclessia rounded px-6 py-3 text-center font-semibold ">Explorar</a>
      </div>
    </div>
  </div>
</section>
