<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-10 lg:px-10">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="bg-primary text-white-eclessia p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
          <h2 class="text-2xl font-bold  md:text-3xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit
          </h2>

          <p class="hidden text-white/90 sm:mt-4 sm:block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam
            sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet
            volutpat quisque ut interdum tincidunt duis.
          </p>

          <div class="mt-4 md:mt-8">
            <a
              href="#"
              class="inline-block rounded bg-yellow-eclessia px-12 py-3 text-sm font-medium text-white-eclessia transition hover:bg-opacity-80"
            >
              Get Started Today
            </a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4  lg:grid-cols-2">
        <img
          alt="Student"
          src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
          class="h-40 w-full object-cover sm:h-56 md:h-full"
        />

        <img
          alt="Student"
          src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
          class="h-40 w-full object-cover sm:h-56 md:h-full"
        />
      </div>
    </div>
  </div>
</section>


<!-- Section CTA -->
<section class="bg-white-eclessia">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component-->
    <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
      <div>
        <h2 class="mb-4 max-w-2xl text-3xl font-bold md:text-5xl">Lightning Fast&nbsp;Webflow Dev Made Easy</h2>
        <p class="mb-6 max-w-lg text-sm text-secondary sm:text-base lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus</p>
        <a href="#" class="inline-block items-center bg-yellow-eclessia rounded px-6 py-3 text-center font-semibold text-white">Get started</a>
      </div>
      <div>
        <img src="https://www.shutterstock.com/image-photo/closeup-shot-catholic-baptism-philippines-600nw-2314171987.jpg" alt="" class="mx-auto inline-block h-full w-full max-w-2xl rounded-md" />
      </div>
    </div>
  </div>
</section>

<!-- Section CTA -->
<section class="bg-secondary text-white-eclessia border-b border-white-eclessia border-opacity-10">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component-->
    <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
      <div>
        <img src="https://iglesias-catolicas.com/ec/wp-content/uploads/sites/4/2020/08/iglesia-san-francisco-loja.jpg" alt="" class="mx-auto inline-block h-full w-full max-w-2xl rounded-md" />
      </div>
      <div>
        <h2 class="mb-4 max-w-2xl text-3xl font-bold md:text-5xl">Lightning Fast&nbsp;Webflow Dev Made Easy</h2>
        <p class="mb-6 max-w-lg text-sm  sm:text-base lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus</p>
        <a href="#" class="inline-block items-center bg-primary text-white-eclessia rounded px-6 py-3 text-center font-semibold ">Get started</a>
      </div>
    </div>
  </div>
</section>
